[Unit]
Description=AutomotiveDemo
After=systemd-user-sessions.service dbus-session.service

[Service]
ExecStart=/opt/automotivedemo/start.sh

[Install]
WantedBy=multi-user.target
